{% extends "base.html" %}
{% block title %}PyMasVis{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css" media="screen">
    main form {
      text-align: center;
    }
    div#status {
      min-height: 32em;
      margin: 2em 5em;
      font-size: 0.8em;
    }
  </style>
  <script src="static/jquery-2.2.3.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="static/socket.io.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
    var socket = io(location.protocol+'//'+location.hostname+(location.port ? ':'+location.port: ''));
    socket.on('connect', function() {
      {% if debug %}console.log('connect');{% endif %}
      socket.emit('join', {room: "{{session['uid']}}"})
    });
    socket.on('progress', function(data) {
      {% if debug %}console.log(data);{% endif %}
      switch (data.status) {
        case 'inprogress':
          var d = document.createElement('div');
          d.innerText = data.message;
          $(d).hide().fadeIn().appendTo('#status');
          break;
      }
    });
    socket.on('disconnect', function() {
      {% if debug %}console.log('disconnect');{% endif %}
    });
    $(document).ready(function() {
      $('#analyze').submit(function(event) {
        var data = new FormData(document.getElementById('analyze'));
        $.ajax({
          xhr: function() {
            var xhr = new window.XMLHttpRequest();
            xhr.addEventListener("progress", function (evt) {
              if (evt.lengthComputable) {
                var percentComplete = evt.loaded / evt.total;
                {% if debug %}console.log(Math.round(percentComplete * 100) + "%");{% endif %}
              }
            }, false);
            return xhr;
          },
          type: 'POST',
          url: '/analyze',
          cache: false,
          contentType: false,
          processData: false,
          data: data,
          dataType: 'json'
        }).done(function(data, text, xhr) {
          var a = document.createElement('a');
          document.body.appendChild(a);
          a.style = 'display: none';
          a.href = data['imgurl'];
          a.click();
          a.parentNode.removeChild(a);
        }).fail(function(xhr, text, error) {
          {% if debug %}
          console.log('Error');
          console.log(xhr);
          console.log(text);
          console.log(error);
          {% endif %}
          var flash = document.getElementById('flash');
          xhr.responseJSON.flash.forEach(function(item) {
            var p = document.createElement('p');
            p.innerText = item;
            $(p).hide().delay(400).fadeIn().appendTo(flash);
          });
          var p = document.createElement('p');
          p.innerText = xhr.responseJSON.error;
          $(p).hide().delay(400).fadeIn().appendTo(flash);
        }).always(function(data, text, xhr) {
          $('#analyze :input').prop('disabled', false);
          $('#status div').fadeOut();
        });
        event.preventDefault();
        $('#analyze :input').prop('disabled', true);
        $('#flash p').slideUp(400, function() {
          $(this).remove();
        });
        $('#status').empty();
        var d = document.createElement('div');
        d.innerText = 'Uploading...';
        $(d).hide().fadeIn().appendTo('#status');
      });
    });
  </script>
{% endblock %}
{% block main %}
  <form id="analyze" action="analyze" method="post" accept-charset="utf-8" enctype="multipart/form-data">
    <!--<label for="foo">Ze file</label> --><input type="file" name="file" value="" id="file"> <input type="submit" value="Analyze &rarr;">
  </form>
  <div id="status"></div>
  </main>
{% endblock %}